body
{
	font-family: arial ce, arial, helvetica ce, helvetica;
	font-size: 12px;
}
#lvicek {
/*	background-color: Aqua;*/
}
.lvicek_img {
	float: left;
	border: double silver;
}
.clear {
	clear: both;
	font-size: 0px;
	height: 0px;
	width: 0px;
}
.svacina {
	font-size: smaller;
	margin: 20px 0px 20px 20px;
}
.zlata_medajle {
	background-color: #CCCC00;
	color: Black;
	width: 500px;
}
.stribrna_medajle {
	background-color: Silver;
	color: Black;
	width: 500px;
}
.bronzova_medajle {
	background-color: #A0522D;
	width: 500px;
}
.icq, .icq img {
	border: 0px solid;
}
/* TOP MENU */
#top_menu {
	float: left;
	position: absolute;
	top: 120px;
	left: 6px;
}

div.polozka {
	border: 1px solid black;
/*	float: left;*/
	margin: 1px;
	height: 25px;
	width: 126px;
	_width: 125px;
	overflow: hidden;
	}
div.polozka a {
	display: block;
	margin: 0; padding:0;
	width:100%; height:100%;
 	color: black;
	text-decoration: none;
	background-color: #B36B00;
	cursor: default;
	}
div.polozka span {
	display: block;
	margin:0; padding: 5px 0 0 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align:center;
	}
div.polozka .selected {
	font-weight: bold;
	background-color: #FF9900;
	color: Black;
	height: 20px;
}
div.polozka a:hover, div.polozka a span.selected:hover {
	background-color: #FFCC80;
	}
div.polozka a:active {
	color: black;
}


/* MINI MENU */
#mini_menu {
	
}
#mini_menu .polozka {
	border: 1px solid black;
	float: left;
	margin: 1px;
	height: 20px;
	width: 100px;
	_width: 99px;
	}
#mini_menu .polozka a {
	display: block;
	margin: 0; padding:0;
	width:100%; height:100%;
 	color: black;
	text-decoration: none;
	background-color: #B36B00;
	cursor: default;
	}
#mini_menu .polozka span {
	display: block;
	margin:0; padding: 3px 0 0 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align:center;
	}
#mini_menu .polozka .selected {
	font-weight: bold;
	background-color: #FF9900;
	color: Black;
	height: 17px;
}
#mini_menu .polozka a:hover, #mini_menu .polozka a span.selected:hover {
	background-color: #FFCC80;
	}
#mini_menu .polozka a:active {
	color: black;
}
/* MAIN */
#main {
	position: absolute;
	top: 120px;
	left: 140px;
	padding: 10px 0px 0px 10px;
	float: left;
	width: 840px;
	/*background-color: Fuchsia;*/
}

/* ADMIN */
#admin_left {
	width: 200px;
	border-right: 1px solid gray;
	float: left;
}
#admin_right {
	width: 580px;
	float: left;
}
/* AUKCE */
#aukce_left {
	width: 240px;
	border-right: 1px solid gray;
	margin: 0px 20px 0px 0px;
	float: left;
}
#aukce_right {
	width: 530px;
	float: left;
}
#aukce_bottom {
	margin: 20px 0px 0px 0px;
}
#aukce_bottom table {
	width: 800px;
}
/* SETTINGS */
#set_menu {
	
}
#set_left {
	width: 450px;
	border-right: 1px solid gray;
	float: left;
}
#set_right {
	float: left;
	margin: 0px 0px 0px 30px;
}
.set_sloupek {
	float: left;
	width: 100px;
}
.set_polozka {
	width: 100px;
/*	height: 15px;*/
	margin: 0px 0px 10px 0px;
}
.set_polozka .selected a {
	color: #FFFFAA;
	font-weight: bold;
}
#upravy input, #upravy textarea, #upravy select {
	width: 200px;
}
#upravy .half_button {
	width: 98px;
}
#upravy textarea {
	height: 200px;
}
/* REKRUT */
#rekrut {
	width: 800px;
}
#rekrut input {
	width: 100px;
}
#rekrut .result_table {
	width: 600px;
	text-align: right;
}
#rekrut .result_table .jmeno {
	text-align: left;
}
#rekrut .nadpis {
	font-weight: bold;
}
#rekrut .left_input {
	float: left;
	width: 495px;
	_width: 478px;
	margin: 0px 5px 0px 0px;
}
#rekrut .left_input textarea, #rekrut .right_input textarea {
	width: 100%;
	height: 130px;
}
#rekrut .right_input {
	float: left;
	width: 300px;
}
#rekrut .right_input input {
	width: 100%;
}
#rekrut .zmeneno1 td, .zmeneno1_thumb {
	color: Maroon;
}
#rekrut .zmeneno2 td, .zmeneno2_thumb {
	color: Green;
}
/* CHATT */
#chatt_box {
	width: 100%;
	height: 100px;
	margin: 0px 0px 10px 0px;
	float: none;
}
.msg {
	width: 95%;
	
	border-top: 1px solid silver ;
	border-left: 1px solid silver;
	padding: 3px;
	margin: 0px 0px 10px 0px;
}
/* KOBERCE */
.koberec {
	width: 200px;
	margin: 0px 10px 10px 0px;
	float: left;
}
.koberec .pole {
	width: 198px;
	border: 1px solid silver;
	margin: 0px 0px 1px 0px;
}
.koberec .pole .sub { /* odsazene */
	margin: 0px 0px 0px 10px;
}
.koberec .pole a {
	color: #FFFFAA;
	font-weight: bold;
}
.koberec .pole .pozn {
	overflow: auto;
	margin-left: 10px;
	font-style: italic;
	font-size: 10px;
}
.koberec .pole .strelec {
	color: red;
	font-weight: bold;
}
.koberec .o_cili td {
	padding: 0px;
}
.koberec .zapis_tepichu input {
	border: 1px solid black;
}
.koberec .zapis_tepichu .submit {
	width: 35px;
}
.novy_koberec input, .novy_koberec textarea, .novy_koberec select {
	width: 200px;
}
.novy_koberec textarea {
	height: 100px;
}
#koberce {
	
}
#koberce .levy {
	float: left;
	width: 200px;
	border-left: solid 1px silver;
	border-top: solid 1px silver;
	padding: 2px 0px 0px 2px;
}
#koberce .pravy {
	float: left;
	width: 500px;
	border-left: solid 1px silver;
	border-top: solid 1px silver;
	padding: 1px 0px 0px 1px;
	margin: 0px 0px 0px 5px;
}

/* ALI */
#ali {
	
}
#ali .prvek_seznamu {
	margin: 5px 0px 0px 0px;
}
#ali .nova_ali input, #ali .nova_ali textarea, #ali .nova_ali select {
	width: 200px;
}

#ali .levy {
	float: left;
	width: 200px;
	border-left: solid 1px silver;
	border-top: solid 1px silver;
	padding: 2px 0px 0px 2px;	
}
#ali .pravy {
	float: left;
	width: 500px;
	border-left: solid 1px silver;
	border-top: solid 1px silver;
	padding: 1px 0px 0px 1px;
	margin: 0px 0px 0px 5px;
}
.ali_sprava td {
	border: dashed White;
	border-width: 1px 0px 0px 0px;
}
.ali_sprava {
	border: dashed White;
	border-width: 0px 0px 1px 0px;
}
/* HLIDKA */
#hlidka {
	
}
#hlidka input, #hlidka textarea, #nova_ali select {
	width: 250px;
}
#hlidka textarea {
	height: 100px;
}
#hlidka .green {
	color: Lime;
	text-align: right;
	font-weight: bold;
}
#hlidka .red_ko {
	color: Red;
	text-align: right;
	font-weight: bold;
}
#hlidka .red_ok {
	color: #FFA07A;
	text-align: right;
	font-weight: bold;
}
/* SKUPINY */
#skupiny {
	
}
#skupiny_left {
	width: 150px;
	border-right: 1px solid gray;
	float: left;
}
#skupiny_right {
	float: left;
	margin: 0px 0px 0px 30px;
}
/* STATISTIKY ALIANCE */
#stat_ali {
	
}
#stat_ali input, #stat_ali textarea, #nova_ali select {
	width: 250px;
}
#stat_ali textarea {
	height: 100px;
}
/* GLOBAL */
.error {
	color: Red;
	font-size: 12px;
}
.right {
	text-align: right;
}
/* SIMUL */
.simulNewDes {
	border-collapse: collapse;
}
.simulNewDes td {
	border: 0px solid red;
	vertical-align: top;
}
.detail
{
	color: #FFFFAA;
	text-align: right;
}
.obrana, .obrana a, .utok .CS, .utok .CS a, #vyber_obrana
{
	color: white;
}
.utok, .utok a, .obrana .CS, .obrana .CS a, #vyber_utok
{
	color: #FFFFAA;
}
body 
{
	background-color: black;
	color: white;
}
.CS 
{
	font-style: italic;
}
.info {
	margin-left: 20px;
	font-size: 9px;
	color: red;
}
#vyber_utok,  #vyber_obrana{
	width: 100%;
	background-color: Black;
	float: left;
}
.other {
	color: #FFFFAA;
	text-decoration: none;
}
.other visited {
	text-decoration: none;
}
a
{
	color: White;
	text-decoration: none;
}
a visited
{
	text-decoration: none;
}
.spellcast
{
	color: Gray;
	margin: 0px 0px 40px 0px;
}
.news
{
	border: 3px dotted #FFFFAA;
}
.news td
{
	padding: 5px;
	border-bottom: 1px solid #FFFFAA;
	vertical-align: top;
}
.clear
{
	clear: both;
}
#uvodni_tabulka
{
	border: 1px solid #FFFFAA;
	width: 100%;
	padding: 0px;
}
#uvodni_tabulka td
{
	width: 50%;
	border: 0px;
	margin: 0px;
	text-align: center;
	vertical-align: top;
}
#brany
{
	width: 100%;
}
#brany td
{
	width: 33%;
	text-align: left;
}
#kouzla
{
	width: 100%;
}
#kouzla td
{
	width: 33%;
	text-align: justify;
}
.stats 
{
	font-size: smaller;
}
